<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-table action-table">
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal">
                                        <fieldset>

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" >强制关闭所有场地投影</label>
                                                <div class="controls">
                                                    <a class="btn addDML" onclick="">执行</a>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" >关闭所有场地投影</label>
                                                <div class="controls">
                                                    <a class="btn addDML" onclick="addDanmuLibrary()">执行</a>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" >清除投影关闭计数</label>
                                                <div class="controls">
                                                    <a class="btn addDML" onclick="addDanmuLibrary()">执行</a>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" >监听所有场地的客户端在线情况</label>
                                                <div class="controls">
                                                    <a class="btn addDML" onclick="">执行</a>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" >电影播放异常</label>
                                                <div class="controls">
                                                    <a class="btn addDML" onclick="">执行</a>
                                                </div> <!-- /controls -->
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<link href="/plug/bootstrapTable/bootstrap-table.min.css" rel="stylesheet"/>
<script src="/plug/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/common/danmu.table.plug.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>
<% include ../common/bottom.html %>