<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main" ng-app="danmuCheckApp" ng-controller="danmuCheckCtrl">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3> 活动信息</h3>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFirst" aria-expanded="true">
                                展开
                            </a>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseFirst" aria-expanded="true">
                            <ul class="danmucheck-items">
                                <li style="height: 20px; padding-left: 2em;">
                                    <h4>
                                        在线管理员：
                                        <span class="">
                                            <span ng-repeat="msg in adminCount" >
                                                <span ng-if="msg.checkFlg==0" style="color:blue;">
                                                    {{msg.adminName}}&nbsp;
                                                </span>
                                                <span ng-if="msg.checkFlg==1" style="color:grey;">
                                                    <div style="display: inline;">
                                                        {{msg.adminName}}&nbsp;
                                                    </div>

                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                </li>
                                <li style="height: 30px;padding-top:10px; padding-left: 2em;">
                                    <h4>
                                        活动：<span class="danmu-partyName">{{partyName}}</span>
                                        状态：<span class="danmuCheck-link-status">{{link_Status}}</span>
                                        <span id="stime"></span>

                                        <a href="/party/historyDanmu?partyId={{partyId}}&addressId={{addressId}}">查看历史弹幕</a>
                                        在线客户端：<span class="danmuCheck-link-status">{{clientCount}}</span>
                                    </h4>
                                </li>
                                <li style="height: 30px;padding-left: 2em;">
                                    <h4>
                                        <button type="button" class="btn btn-info" ng-disabled="autoCheck==0" ng-click="setAutoCheck(0)">关闭自动审核</button>
                                        <button type="button" class="btn btn-info" ng-disabled="autoCheck==1" ng-click="setAutoCheck(1)">开启自动审核</button>
                                        <div style="display: inline;"  id="checkDiv">
                                            &nbsp;是否审核:
                                            <span ng-if="checkFlg==1">
                                                <button type="button" class="btn btn-info"  ng-click="setCheck(0)">审核</button>
                                            </span>
                                            <span ng-if="checkFlg==0">
                                                <button type="button" class="btn btn-dark"  ng-click="setCheck(1)">不审</button>
                                            </span>
                                        </div>

                                        &nbsp;&nbsp;&nbsp;场地:{{addressName}}
                                    </h4>
                                </li>
                            </ul>

                        </div>
                        <!-- /widget-content -->

                    </div>

                    <div class="widget widget-table">
                        <div class="widget-header"><i class="icon-th-list"></i>
                            <h3>弹幕列表 <span class="danmuCheck-link-status">{{danmuList.length}}</span>条</h3>
                        </div>
                        <!-- /widget-header -->
                        <div id="mainDiv" class="widget-content"
                             style=" overflow-x:auto;overflow-y: scroll; max-height: 800px">
                            <div style="position: fixed;bottom:20px;" ng-if="danmuList.length>10">
                                <button type="button" class="btn btn-info" ng-click="clearAndTurnUp()">
                                    清理！(弹幕数{{danmuList.length}})
                                </button>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th width="20%">发送时间</th>
                                    <th width="20%">昵称</th>
                                    <th width="10%">类型</th>
                                    <th>消息</th>
                                    <th width="10%">头像</th>
                                    <th width="10%">状态</th>
                                    <th width="10%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="danmu in danmuList" class="dataTr">
                                    <td>
                                        {{danmu.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                                    </td>
                                    <td>
                                        <span ng-if="danmu.nick!=null">{{danmu.nick}}</span>
                                        <span ng-if="danmu.nick==null">&nbsp;</span>
                                    </td>
                                    <td>
                                        <span ng-if="danmu.cmdName!=null" style="width: 30px;height: 30px;">{{danmu.cmdName}}</span>
                                        <span ng-if="danmu.cmdName==null">&nbsp;</span>
                                    </td>
                                    <td>
                                        <span ng-if="!danmu.isBlocked">
                                            <span ng-if="danmu.danmuType==1 || danmu.danmuType==2">
                                                <img ng-src="{{baseUrl}}{{danmu.msg}}" class="expression" style="width: 50px; height: 50px; margin-right: 1em; margin-bottom: 0.5em;"/>
                                            </span>
                                            <span ng-if="danmu.danmuType!=1 && danmu.danmuType!=2">
                                                <span ng-if="danmu.dataType==3">
                                                    <span ng-repeat="msg in danmu.msg">
                                                        {{msg.content}}
                                                    </span>
                                                </span>
                                                <span ng-if="danmu.dataType!=3">
                                                    {{danmu.msg}}
                                                </span>
                                            </span>
                                        </span>
                                        <span ng-if="danmu.isBlocked">
                                            <span ng-if="danmu.danmuType==1 || danmu.danmuType==2">
                                                <img ng-src="{{baseUrl}}{{danmu.msg}}" class="expression" style="width: 50px; height: 50px; margin-right: 1em; margin-bottom: 0.5em;"/>(已删除)
                                            </span>
                                            <span ng-if="danmu.danmuType!=1 && danmu.danmuType!=2">
                                                <span ng-if="danmu.dataType==3">
                                                    <span ng-repeat="msg in danmu.msg">
                                                        <del>{{msg.content}}</del>
                                                    </span>
                                                </span>
                                                <span ng-if="danmu.dataType!=3">
                                                    <del>{{danmu.msg}}</del>
                                                </span>
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <img ng-if="danmu.imgUrl!=null" ng-src="{{danmu.imgUrl}}"
                                             style="width: 30px;height: 30px;"/>
                                        <span ng-if="danmu.imgUrl==null">&nbsp;</span>
                                    </td>
                                    <td ng-if="autoCheck==1">
                                        <span ng-if="(!danmu.s||danmu.s>0) && !danmu.isSend">{{danmu.s}}秒</span>
                                        <span ng-if="danmu.isSend">已发送</span>
                                        <span ng-if="danmu.isBlocked && !danmu.isSend">未发送</span>
                                    </td>
                                    <td ng-if="autoCheck==0">
                                        <span ng-if="danmu.isSend">已发送</span>
                                        <span ng-if="danmu.isBlocked && !danmu.isSend">未发送</span>
                                        <button class="btn btn-info" ng-if="!danmu.isSend && !danmu.isBlocked" ng-click="sendDanmu(danmu)">发送</button>
                                    </td>
                                    <td  ng-if="autoCheck==1">
                                        <span ng-if="danmu.isBlocked">已删除</span>
                                        <button ng-if="!danmu.isSend && !danmu.isBlocked" type="button" class="btn btn-danger btn-sm" ng-click="setDanmuBlocked(danmu.id)">删除
                                        </button>
                                        <button ng-if="danmu.isSend" type="button" class="btn btn-danger btn-sm" disabled>删除</button>
                                    </td>
                                    <td ng-if="autoCheck==0">
                                        <span ng-if="danmu.isBlocked">已删除</span>
                                        <button ng-if="!danmu.isSend && !danmu.isBlocked" type="button" class="btn btn-danger btn-sm" ng-click="setDanmuBlocked(danmu.id)">删除
                                        </button>
                                        <button ng-if="danmu.isSend" type="button" class="btn btn-danger btn-sm" disabled>删除</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span8 -->
                <div class="span4">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3> 审核设置</h3>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                展开
                            </a>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseOne">
                            <ul class="danmucheck-items">
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 68px;">活动状态</h3>
                                        <button type="button" class="btn btn-sm btn-info" id="partyStartButton" ng-click="filmStart(1)" title="活动开始">活动</button>
                                        <button type="button" id="filmStartButton" class="btn btn-sm btn-info" ng-click="filmStart(2)" title="电影开始">电影</button>

                                        <span id="partyStatus"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header" id="densityDiv">

                                        <!--
                                        <i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 68px; margin-top: 0px;">弹幕密度</h3>
                                        <table style="display: inline;margin-top: 15px;">
                                            <tr><td>弹幕密度</td><td><input type="text" style="width: 20px;"></td></tr>
                                            <tr><td>弹幕密度</td><td><input type="text" style="width: 20px;"></td></tr>
                                            <tr><td>弹幕密度</td><td><input type="text" style="width: 20px;"></td></tr>
                                        </table>
                                        -->
                                        <!--
                                        <input type="text" id="txt_btn-density"
                                               style="position: relative;line-height: 18px;top: 3px;width: 40px;"
                                               maxlength="2" ng-model="danmuDensity"/>
                                        <button class="btn btn-info btn-density" style="margin-left: 0em;"
                                                ng-disabled="danmuDensity==0" ng-click="setDanmuDensity()">确定
                                        </button>
                                        -->
                                    </div>

                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header">

                                        <i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 68px;">延迟时间</h3>
                                        <button class="btn btn-sm btn-default" type="button"
                                                ng-disabled="delaySecond==0" ng-click="setDelaySecond(false)">-
                                        </button>
                                        <button type="button" class="btn btn-sm btn-default">{{delaySecond}}</button>
                                        <button class="btn btn-sm btn-default" type="button" ng-disabled="delaySecond>99" ng-click="setDelaySecond(true)">+
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 68px;">测试弹幕</h3>
                                        <button type="button" class="btn btn-sm btn-danger"
                                                ng-disabled="testModel==false" ng-click="setTestModelHandler(false)">关闭
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info" ng-disabled="testModel"
                                                ng-click="setTestModelHandler(true)">开启
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 68px;">预制弹幕</h3>
                                        <button type="button" class="btn btn-sm btn-danger"
                                                ng-disabled="preStatus==false" ng-click="setPreDanmuHandler(false)">关闭
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info" ng-disabled="preStatus"
                                                ng-click="setPreDanmuHandler(true)">开启
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 68px;">活动结束</h3>

                                        <button type="button" class="btn btn-sm btn-danger" id="filmEndButton" ng-click="filmStart(3)" title="活动结束">结束</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>弹幕发送</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form id="danmuForm">
                                <ul class="danmucheck-items">
                                    <li style="padding-left: 1em;margin-top: 10px;"><i class="icon-bookmark"></i>
                                        <span style="margin-right: 5px;">类型</span>
                                        <div id="typeTitleDiv">
                                        </div>
                                    </li>
                                    <li style="padding-left: 1em; margin-top: 10px;">
                                        <div id="componentDivId">
                                        </div>
                                        <button class="btn btn-info" ng-click="send()">发送</button>
                                    </li>
                                </ul>
                            </form>
                        </div>

                    </div>
                    <!-- /widget -->

                    <div class="widget" ng-if="specialVideos.length > 0">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>视频特效</h3>
                        </div>
                        <div class="widget-content">
                           <span ng-repeat="specialVideo in specialVideos" ng-if="specialVideos.length > 0">
                                <button type="button"
                                        style=" width: 65px; height:30px;margin-top: 1px; margin-right: 0.5em; "
                                        class="btn btn-sm btn-default"
                                        ng-click="showSpecialVideo(specialVideo,specialVideo.status)"
                                        ng-if="specialVideo.status==0" title="{{specialVideo.resourceName}}">{{specialVideo.resourceName.substring(0,4)}}</button>
                                <button type="button"
                                        style=" width: 65px; height:30px;margin-top: 1px; margin-right: 0.5em; "
                                        class="btn btn-sm btn-danger"
                                        ng-click="showSpecialVideo(specialVideo,specialVideo.status)"
                                        ng-if="specialVideo.status==1" title="{{specialVideo.resourceName}}">{{specialVideo.resourceName.substring(0,4)}}</button>
                        </span>
                        </div>
                    </div>
                </div>
                <!-- /span4 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<link rel="stylesheet" href="/plug/bootstrap-switch/css/bootstrap-switch.css"/>
<link rel="stylesheet" href="/css/danmu/danmu.danmucheck.css"/>
<link href="/plug/select2/css/select2.min.css" rel="stylesheet"/>
<script src="/plug/angular/angular.min.js"></script>
<script src="/js/bussiness/danmu/danmu.danmucheck.js"></script>
<script src="/js/bussiness/common/danmu.common.plug.js"></script>

<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/plug/select2/js/select2.js"></script>


<% include ../common/bottom.html %>