<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main" ng-app="danmuCheckApp" ng-controller="danmuCheckCtrl">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h4> 活动：<span class="danmu-partyName">{{partyName}}</span>
                        状态：<span class="danmuCheck-link-status">{{link_Status}}</span>
                        在线管理员：<span class="danmuCheck-link-status">{{adminCount}}</span>
                        活动状态：
                        <span id="ptime" style="color:red;text-align: center;"><button type="button" class="btn btn-sm btn-info" ng-click="filmStart(1)">活动开始</button></span>
                        <span id="stime" style="color:red;"><button type="button" class="btn btn-sm btn-info" ng-click="filmStart(2)">电影开始</button></span>
                        <span id="etime" style="color:red;"><button type="button" class="btn btn-sm btn-danger" ng-click="filmStart(3)">电影结束</button></span>
                    </h4>
                    <div class="widget widget-table">
                        <div class="widget-header"><i class="icon-th-list"></i>
                            <h3>弹幕列表   <span class="danmuCheck-link-status">{{danmuList.length}}</span>条</h3>
                        </div>
                        <!-- /widget-header -->
                        <div id="mainDiv" class="widget-content" style=" overflow-x:auto;overflow-y: scroll; max-height: 800px">
                            <div style="position: fixed;bottom:20px;" ng-if="danmuList.length>10">
                                <button type="button" class="btn btn-info" ng-click="clearAndTurnUp()">
                                    清理！(弹幕数{{danmuList.length}})
                                </button>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th width="20%">发送时间</th>
                                    <th width="20%">昵称</th>
                                    <th>消息</th>
                                    <th width="10%">图片</th>
                                    <th width="10%">秒数</th>
                                    <th width="10%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="danmu in danmuList" class="dataTr">
                                    <td>
                                        {{danmu.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                                    </td>
                                    <td>
                                        <span ng-if="danmu.nick!=null">{{danmu.nick}}</span>
                                        <span ng-if="danmu.nick==null">&nbsp;</span>
                                    </td>
                                    <td>
                                        <span ng-if="!danmu.isBlocked">{{danmu.msg}}</span>
                                        <span ng-if="danmu.isBlocked"><del> {{danmu.msg}}</del></span>
                                    </td>
                                    <td>
                                        <img ng-if="danmu.imgUrl!=null" ng-src="{{danmu.imgUrl}}"
                                             style="width: 30px;height: 30px;"/>
                                        <span ng-if="danmu.imgUrl==null">&nbsp;</span>
                                    </td>
                                    <td>
                                        <span ng-if="!danmu.s||danmu.s>0">{{danmu.s}}秒</span>
                                        <span ng-if="danmu.s<=0&&danmu.s>-10">已发送</span>
                                        <span ng-if="danmu.s<=-10">未发送</span>
                                    </td>
                                    <td>
                                        <span ng-if="danmu.isBlocked">已删除</span>
                                        <button ng-if="(!danmu.s||danmu.s>0)&&!danmu.isBlocked" type="button"
                                                class="btn btn-danger btn-sm" ng-click="setDanmuBlocked(danmu.id)">删除
                                        </button>
                                        <button ng-if="danmu.s<=0&&danmu.s>-10" type="button"
                                                class="btn btn-danger btn-sm" disabled>删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span8 -->
                <div class="span4">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3> 审核设置</h3>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                展开
                            </a>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseOne">
                            <ul class="danmucheck-items">
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">延长活动时间</h3>
                                        <input type="text" id="delayHour" style="position: relative;line-height: 18px;top: 3px;width: 40px;" maxlength="2" ng-model="delayHour"/>(h)
                                        <button class="btn btn-info btn-partyDelay" style="margin-left: 0em;" ng-disabled="delayHour==0" ng-click="delayParty()">确定</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">弹幕密度</h3>
                                        <input type="text" id="txt_btn-density" style="position: relative;line-height: 18px;top: 3px;width: 40px;" maxlength="2" ng-model="danmuDensity"/>
                                        <button class="btn btn-info btn-density" style="margin-left: 0em;" ng-disabled="danmuDensity==0" ng-click="setDanmuDensity()">确定</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header">

                                        <i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">延迟时间</h3>
                                        <button class="btn btn-sm btn-default" type="button" ng-disabled="delaySecond==0" ng-click="setDelaySecond(false)">-</button>
                                        <button type="button" class="btn btn-sm btn-default">{{delaySecond}}</button>
                                        <button class="btn btn-sm btn-default" type="button" ng-disabled="delaySecond>99" ng-click="setDelaySecond(true)">+</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">测试弹幕控制</h3>
                                        <button type="button" class="btn btn-sm btn-danger"  ng-disabled="testModel==false" ng-click="setTestModelHandler(false)">关闭</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-disabled="testModel" ng-click="setTestModelHandler(true)">开启</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">预制弹幕控制</h3>
                                        <button type="button" class="btn btn-sm btn-danger" ng-disabled="preStatus==false" ng-click="setPreDanmuHandler(false)">关闭</button>
                                        <button type="button" class="btn btn-sm btn-info" ng-disabled="preStatus" ng-click="setPreDanmuHandler(true)">开启</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">播放器控制</h3>
                                        <button class="btn btn-danger " id="playerStatus_0" title="关闭客户端" ng-click="operateScreenHandler(0)" ng-disabled="playerStatus==0">关闭</button>
                                        <button class="btn btn-info " id="playerStatus_1" title="显示视频" ng-click="operateScreenHandler(1)" ng-disabled="playerStatus==1"> 视频</button>
                                        <button class="btn btn-info " id="playerStatus_2" title="显示弹幕" ng-click="operateScreenHandler(2)" ng-disabled="playerStatus==2">弹幕</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>视频特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                           <span ng-repeat="specialVideo in specialVideos" ng-if="specialVideos.length > 0">
                                <button type="button" class="btn btn-sm btn-default" ng-click="showSpecialVideo(specialVideo,specialVideo.status)" ng-if="specialVideo.status==0" title="{{specialVideo.resourceName}}">{{specialVideo.resourceName}}</button>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="showSpecialVideo(specialVideo,specialVideo.status)" ng-if="specialVideo.status==1" title="{{specialVideo.resourceName}}">{{specialVideo.resourceName}}</button>
                        </span>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>图片特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <img ng-src="{{baseUrl}}{{e.fileUrl}}" class="expression" ng-repeat="e in specialImages" ng-click="showSpecialImage(e)" style="width: 50px; height: 50px;margin-left: 1em;" title="{{specialImage.resourceName}}"/>
                            </button>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>表情特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <img ng-src="{{baseUrl}}{{e.smallFileUrl}}" class="expression" ng-repeat="e in expressions" ng-click="showExpression(e)" style="width: 50px; height: 50px; margin-left: 1em;"/>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>闪光字</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="blingDanmuMsg" placeholder="请输入闪光（8个字以内）" style="width: 260px;height: 80px;outline:none;resize:none;"></textarea>
                            </div>
                            <div class="form-group">
                                <div style="height: 60px;">
                                    <button class="btn" ng-style="{background:e}" ng-class="{active:color==$index}" ng-repeat="e in colors" ng-click="setBlingColor(e)" style="width: 70px;margin-right: 0.5em;">{{e}}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info" ng-disabled="blingDanmuMsg.length>8 || blingDanmuMsg.length<1" ng-click="sendBlingDm()">发送</button>
                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>弹幕发送</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="danmuMsg" placeholder="请输入弹幕（40个字以内）" style="width: 260px;height: 80px;outline:none;resize:none;"></textarea>
                            </div>
                            <div class="form-group">
                                <div style="height: 60px;">
                                    <button class="btn" ng-style="{background:e}" ng-class="{active:color==$index}" ng-repeat="e in colors" ng-click="setDanmuColor(e)" style="width: 70px;margin-right: 0.5em;">
                                      {{e}}
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info" ng-disabled="danmuMsg.length>40 || danmuMsg.length==0" ng-click="sendDm()">发送</button>
                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span4 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<link rel="stylesheet" href="/plug/bootstrap-switch/css/bootstrap-switch.css"/>
<link rel="stylesheet" href="/css/danmu/danmu.danmucheck.css"/>
<script src="/plug/bootstrap-switch/js/bootstrap-switch.js"></script>
<script src="/plug/angular/angular.min.js"></script>
<script src="/js/common/danmu.switch.plug.js"></script>
<script src="/js/bussiness/danmu/danmu.danmucheck.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>


<% include ../common/bottom.html %>