<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="widget widget-table action-table">
                        <div class="widget-header"><i class="icon-th-list"></i>
                            <h3> 当前活动：<span>外公芳龄48</span></h3>
                            <h3> 当前状态：A</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>发送时间</th>
                                    <th>昵称</th>
                                    <th>消息</th>
                                    <th>图片</th>
                                    <th>剩余时间</th>
                                    <th class="td-actions"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> Fresh Web Development Resources</td>
                                    <td> http://www.cssmoban.com/</td>
                                    <td> Fresh Web Development Resources</td>
                                    <td> http://www.cssmoban.com/</td>
                                    <td> Fresh Web Development Resources</td>
                                    <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i
                                            class="btn-icon-only icon-ok"> </i></a><a href="javascript:;"
                                                                                      class="btn btn-danger btn-small"><i
                                            class="btn-icon-only icon-remove"> </i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span8 -->
                <div class="span4">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3> 审核设置</h3>
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                第 2 部分
                            </a>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseOne">
                            <ul class="danmucheck-items">
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;">弹幕数量：</h3>
                                        <span>24</span>
                                        <h3 style="margin-right: 1em; ">历史弹幕查看&gt;&gt;</h3>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">弹幕密度</h3>
                                        <input type="text"
                                               style="position: relative;line-height: 18px;top: 3px;width: 20px;"
                                               maxlength="2"/>
                                        <button class="btn btn-info" style="margin-left: 0em;">确定</button>
                                    </div>
                                </li>

                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">延长活动时间</h3>
                                        <input type="text"
                                               style="position: relative;line-height: 18px;top: 3px;width: 20px;"
                                               maxlength="2"/>
                                        <button class="btn btn-info" style="margin-left: 0em;">确定</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">测试弹幕控制</h3>
                                        <input id="testDanmuModel" name="testDanmuModel" type="checkbox" data-size="small"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">预制弹幕控制</h3>
                                        <input id="preDanmuModel" name="preDanmuModel" type="checkbox" data-size="small"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header">

                                        <i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">延迟时间</h3>
                                        <button class="btn btn-sm btn-default" type="button"
                                                ng-click="setDelaySecond(false)">
                                            +
                                        </button>
                                        <button type="button" class="btn btn-sm btn-default"> 延迟0秒</button>
                                        <button class="btn btn-sm btn-default" type="button"
                                                ng-click="setDelaySecond(true)">
                                            -
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">播放器控制</h3>

                                        <button class="btn btn-danger" title="关闭客户端">关闭</button>
                                        <button class="btn btn-info" title="显示视频"> 视频</button>
                                        <button class="btn btn-success" title="显示弹幕">弹幕</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>视频特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>图片特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>表情特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                            <img width="50px;" height="50px;"
                                 src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=4155302816,1201715785&fm=116&gp=0.jpg">
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>闪光字</h3>
                            <button class="btn btn-info">发送</button>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <textarea class="form-control" placeholder="请输入弹幕内容..."
                                      style="width: 300px;height: 80px;outline:none;resize:none;"></textarea>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"><i class="icon-bookmark"></i>
                            <h3>弹幕发送</h3>
                            <button class="btn btn-info">发送</button>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <textarea class="form-control" placeholder="请输入弹幕内容..."
                                      style="width: 300px;height: 80px;outline:none;resize:none;"></textarea>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span4 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<link rel="stylesheet" href="/plug/bootstrap-switch/css/bootstrap-switch.css"/>
<script src="/plug/bootstrap-switch/js/bootstrap-switch.js"></script>
<link rel="stylesheet" href="/css/danmu/danmu.danmucheck.css"/>
<script src="/js/common/danmu.switch.plug.js"></script>
<script src="/js/bussiness/danmu/danmu.danmucheck.js"></script>

<% include ../common/bottom.html %>