<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<style type="text/css">
.list-group-item{
    list-style-type:none;
}

.list-span-text{
     border: solid 2px #f5f5f5;
}

.shortcuts {
	text-align: center;
}

.shortcuts .shortcut {
	width: 21%;
	display: inline-block;
	padding: 5px 0;
	margin: 0 .9% 1em;
	vertical-align: top;
	text-decoration: none;
	background: #f9f6f1;
	border-radius: 5px;
}

.shortcuts .shortcut-label {
	display: block;
	font-weight: 400;
	color: #545454;
}

</style>
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div>
                弹幕库名称:<input type="text" style="margin-left:10px;" id="dlName"/>
                <select id="selectedDl" style="width:100px;margin-left:10px;" onchange="getDanmuLibraryPage()"></select>
                <button type="button" class="btn btn-primary" onclick="saveDanmuLibrary()" style="margin-bottom:10px;margin-left:10px;">保存弹幕库</button>
                <button type="button" class="btn btn-primary" onclick="delDanmuLibrary()" style="margin-bottom:10px;margin-left:10px;">删除弹幕库</button>
                <button type="button" class="btn btn-primary importDanmu" style="margin-bottom:10px;margin-left:10px;">导入弹幕</button>
            </div>
            <div class="row">
                <div class="span3 history">
                    <div class="widget">
                        <div style="margin-left:10px;">
                            <h3>历史弹幕</h3>
                            <input type="text" id="historyDmMsg"/>
                            <a class="btn" style="margin-bottom:10px;" href="javascript:void(0)" onclick="getDanmuPage()">搜索</a>
                        </div>

                        <!-- /widget-header -->
                        <div class="widget-content" style="min-height:477px;">
                            <ul style="margin-left: 0px;margin-bottom: 0px;" id="historyDm">

                            </ul>

                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <div class="span4">
                    <div class="widget">
                        <div style="margin-left:10px;">
                            <h3>预制弹幕<span id="preCount"></span></h3>
                            <input type="text" id="preDmMsg"/>
                            <a class="btn" style="margin-bottom:10px;" href="javascript:void(0)" onclick="getDanmuLibraryPage()">搜索</a>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <ul style="margin-left: 0px;margin-bottom: 0px;" id="dlDm">

                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <div class="span5">
                    <div class="widget-content">
                        <form id="danmuForm">
                            <ul  class="danmucheck-items">
                                <li style="margin-top: 10px;">
                                    <div id="typeTitleDiv" style="margin-left: 1em;">
                                    </div>
                                    <div id="componentDivId" style="padding-left: 1em;margin-top: 5px;padding-bottom: 5px;">
                                    </div>
                                    <input type="hidden" id="danmuLibraryId" name="danmuLibraryId">
                                    <input  type="button" style="margin-left: 1em; margin-top: 1em;" class="btn btn-info saveDanmuButton" value="保存"></input>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>


<div id="myModal" class="hide fade" >
    <div class="modal-dialog modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body" id="modalBody">
            <button type="button" class="btn btn-info templetDownButton">模板下载</button>
            <br/>
            <input type="file" id="uploadFileId2" name="uploadFileName" />
            <button type="button" class="btn btn-info importDanmuButton">导入</button>

        </div>
        <div class="modal-footer" id="modalFooter">
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/danmu/danmu.adtimerdanmu.css"/>
<link href="/plug/bootstrapTable/bootstrap-table.min.css" rel="stylesheet"/>
<script src="/plug/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/common/danmu.table.plug.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/js/bussiness/common/danmu.common.plug.js"></script>
<script src="/js/bussiness/danmu/danmu.predanmu.js"></script>
<script src="/plug/jquery/ajaxfileupload.js"></script>
<% include ../common/bottom.html %>