<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main" ng-app="timerDanmuApp" ng-controller="timerDanmuCtrl">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 定时弹幕时间分布图</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div id="container" style="min-width: 310px; min-height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <!-- /span8 -->


                <div class="span8">
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 弹幕列表</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table id="tableList" class="table table-striped"
                                   data-pagination-first-text="第一页"
                                   data-pagination-pre-text="前一页"
                                   data-pagination-next-text="下一页"
                                   data-pagination-last-text="最后一页" >
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /span68 -->
                <div class="span4">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3> 弹幕添加</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseOne">
                            <ul class="danmucheck-items">
                                <li>
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;">弹幕类型</h3>
                                        <select class="js-example-data-array" style="width: 120px;"></select>
                                    </div>
                                </li>
                                <li style="padding-top: 1em;">
                                    <div class="danmucheck-items-widget-header" style="line-height: 0px;"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;">发送时间</h3>
                                        <input type="text" class="dataFormat" style="width: 40px;" maxlength="2" id="minutes"/>(分)<input type="text" class="dataFormat" style="width: 40px;" maxlength="2" id="seconds"/>(秒)
                                    </div>
                                </li>
                                <li id="danmu_li_0">
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">普通弹幕</h3> <span style="color: red;" id="danmuMsgCount">你还可以输入的字数:40</span>
                                    </div>
                                    <div >
                                            <textarea class="danmuTextArea" placeholder="请输入弹幕（40个字以内）" style="width: 260px;height: 80px;outline:none;resize:none; margin-left: 1em;" id="danmuMsg" ></textarea>
                                            <div style="padding-left: 1em;" class="danmuColor"></div>
                                    </div>
                                    <button type="button" class="btn btn-info sendDanmuButton" style="margin-left: 1em; margin-top: 1em;" onclick="danmuAddOperateHandler()" >发送</button>
                                </li>
                                <li  id="danmu_li_1">
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">动画</h3>
                                    </div>
                                    <div class="videoDanmu" style="padding-left: 1em;"></div>
                                    <button type="button" class="btn btn-info" style="margin-left: 1em; margin-top: 1em;" onclick="danmuAddOperateHandler()">发送</button>
                                </li>
                                <li  id="danmu_li_2">
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">图片特效</h3>
                                    </div>
                                    <div class="imageDanmu"></div>
                                    <button type="button" class="btn btn-info" style="margin-left: 1em; margin-top: 1em;" onclick="danmuAddOperateHandler()">发送</button>
                                </li>
                                <li id="danmu_li_3">
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">闪光字</h3> <span style="color: red;" id="blingMsgCount">你还可以输入的字数:8</span>
                                    </div>
                                    <div >
                                        <textarea class="form-control" rows="3" ng-model="danmuMsg" placeholder="请输入弹幕（40个字以内）" style="width: 260px;height: 80px;outline:none;resize:none; margin-left: 1em;" id="blingMsg"></textarea>
                                        <div style="padding-left: 1em;" class="danmuColor"></div>
                                    </div>
                                    <button type="button" class="btn btn-info sendBlingDanmuButton" style="margin-left: 1em; " onclick="danmuAddOperateHandler()">发送</button>
                                </li>
                                <li id="danmu_li_4" >
                                    <div class="danmucheck-items-widget-header"><i class="icon-bookmark"></i>
                                        <h3 style="margin-right: 1em;width: 98px;">图片特效</h3>
                                    </div>
                                    <div class="expressionDanmu"></div>
                                    <button type="button" class="btn btn-info" style="margin-left: 1em; " onclick="danmuAddOperateHandler()">发送</button>
                                </li>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<link href="/plug/bootstrapTable/bootstrap-table.min.css" rel="stylesheet"/>
<link href="/plug/select2/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/danmu/danmu.danmucheck.css"/>
<script src="/plug/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/plug/select2/js/select2.js"></script>

<script src="/js/common/danmu.table.plug.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/js/bussiness/danmu/danmu.timerdanmu.js"></script>



<% include ../common/bottom.html %>