<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main" ng-app="timerDanmuApp" ng-controller="timerDanmuCtrl">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 定时弹幕时间分布图</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div id="container" style="min-width: 310px; min-height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <!-- /span8 -->


                <div class="span8">
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 弹幕列表</h3>
                            <button type="button" class="btn btn-info timeDanmuButton">生成定时弹幕</button>
                            <button type="button" class="btn btn-info importDanmu">导入弹幕</button>
                            <button type="button" class="btn btn-info movieStart">电影开始</button>
                            <input type="hidden" id="movieStatus" value="0">
                            <span>整体调整:</span>
                            <button type="button" class="btn btn-info minusTimeButton">-</button>
                            <input type="text" style="width: 30px; margin-top: 10px;" id="adjustTime" value="0" disabled/>(秒)
                            <button type="button" class="btn btn-info addTimeButton">+</button>

                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table id="tableList" class="table table-striped"
                                   data-pagination-first-text="第一页"
                                   data-pagination-pre-text="前一页"
                                   data-pagination-next-text="下一页"
                                   data-pagination-last-text="最后一页" >
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /span68 -->
                <div class="span4">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3>弹幕添加</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseOne">
                            <form id="danmuForm2">
                                <ul  class="danmucheck-items">
                                    <li style="margin-top: 10px;">
                                        <div id="typeTitleDiv" style="margin-left: 1em;">
                                        </div>
                                        <div class="danmucheck-items-widget-header" style="margin-top: 5px;">
                                            <h3 style="margin-right: 1em;">发送时间</h3>
                                            <input type="text" class="dataFormat" style="width: 40px;" id="minutes" name="minutes"/>(分)
                                            <input type="text" class="dataFormat" style="width: 40px;" maxlength="2" id="seconds" name="seconds"/>(秒)
                                        </div>
                                        <div id="componentDivId" style="padding-left: 1em;">
                                        </div>
                                        <input  type="button" style="margin-left: 1em; margin-top: 1em;" class="btn btn-info saveDanmuButton" value="保存"></input>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3>视频特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" id="collapseOne">
                            <form id="danmuForm">
                                <ul  class="danmucheck-items">
                                    <li style="margin-top: 10px;">
                                        <div class="videoDanmu" style="padding-left: 1em;"></div>
                                        <input type="hidden" name="timerVideo" id="timerVideo" />
                                        <div class="danmucheck-items-widget-header" style="margin-top: 5px;">
                                            <h3 style="margin-right: 1em;">发送时间</h3>
                                            <input type="text" class="dataFormat" style="width: 40px;" id="minutes"/>(分)<input type="text" class="dataFormat" style="width: 40px;" maxlength="2" id="seconds"/>(秒)
                                        </div>
                                        <div class="danmucheck-items-widget-header">
                                            <h3 style="margin-right: 1em;">持续时间</h3>
                                            <input type="text" class="dataFormat" style="width: 40px;" id="lastTime"/>(秒)
                                        </div>
                                        <div  class="danmucheck-items-widget-header">
                                            <h3 style="margin-right: 1em;">显示位置</h3>
                                            <select style="width: 100px;">
                                                <option></option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- /widget-content -->
                    </div>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<div id="myModal" class="hide fade" >
    <div class="modal-dialog modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"></h3>
        </div>
        <div class="modal-body" id="modalBody">
            <button type="button" class="btn btn-info templetDownButton">模板下载</button>
            <br/>
            <input type="file" id="uploadFileId2" name="uploadFileName" />
            <button type="button" class="btn btn-info importDanmuButton">导入</button>

        </div>
        <div class="modal-footer" id="modalFooter">
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/danmu/danmu.timerdanmu.css"/>
<link href="/plug/bootstrapTable/bootstrap-table.min.css" rel="stylesheet"/>
<link href="/plug/select2/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/danmu/danmu.danmucheck.css"/>
<script src="/plug/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="/plug/highcarts/highcharts.js"></script>
<script src="/plug/highcarts/modules/exporting.js"></script>
<script src="/plug/select2/js/select2.js"></script>

<script src="/js/common/danmu.table.plug.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/js/bussiness/common/danmu.common.plug.js"></script>
<script src="/js/bussiness/danmu/danmu.timerdanmu.js"></script>


<script src="/plug/jquery/ajaxfileupload.js"></script>



<% include ../common/bottom.html %>