<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main" ng-app="timerDanmuApp" ng-controller="timerDanmuCtrl">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 弹幕列表</h3><button type="button" class="btn btn-info timeDanmuButton">生成定时弹幕文件</button>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table id="tableList" class="table table-striped"
                                   data-pagination-first-text="第一页"
                                   data-pagination-pre-text="前一页"
                                   data-pagination-next-text="下一页"
                                   data-pagination-last-text="最后一页" >
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /span68 -->
                <div class="span4">
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3>弹幕添加</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form id="danmuForm">
                                <ul  class="danmucheck-items">
                                    <li style="margin-top: 10px;">
                                        <div id="typeTitleDiv" style="margin-left: 1em;">
                                        </div>
                                        <div id="componentDivId" style="padding-left: 1em;margin-top: 5px;padding-bottom: 5px;">
                                        </div>
                                        <div class="danmucheck-items-widget-header" style="margin-top: 5px;">
                                            <h3 style="margin-right: 1em;">发送时间</h3>
                                            <input type="text" class="dataFormat" style="width: 40px;" id="minutes" name="minutes"/>(分)
                                            <input type="text" class="dataFormat" style="width: 40px;" maxlength="2" id="seconds" name="seconds"/>(秒)
                                        </div>

                                        <input type="hidden" id="libraryId" name="libraryId">
                                        <input  type="button" style="margin-left: 1em; margin-top: 1em;" class="btn btn-info saveDanmuButton" value="保存"></input>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <div class="widget widget-nopad">
                        <div class="widget-header"><i class="icon-list-alt"></i>
                            <h3>视频特效</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form id="videoForm">
                                <ul  class="danmucheck-items">
                                    <li style="margin-top: 10px;">
                                        <div class="videoDanmu" id="videoDanmu" style="padding-left: 1em;"></div>
                                        <input type="hidden" name="timerVideo" id="timerVideo" />
                                        <div class="danmucheck-items-widget-header" style="margin-top: 5px;">
                                            <h3 style="margin-right: 1em;">发送时间</h3>
                                            <input type="text" class="dataFormat" style="width: 40px;" name="videoMinutes" id="videoMinutes"/>(分)
                                            <input type="text" class="dataFormat" style="width: 40px;" maxlength="2" name="videoSeconds" id="videoSeconds"/>(秒)
                                        </div>
                                        <div class="danmucheck-items-widget-header">
                                            <h3 style="margin-right: 1em;">持续时间</h3>
                                            <input type="text" class="dataFormat" style="width: 40px;" id="lastTime" name="lastTime"/>(秒)
                                        </div>
                                        <input type="hidden" name="videoId" id="videoId">
                                        <input type="hidden" name="videoName" id="videoName">
                                        <input type="hidden" name="currentPartyId" id="currentPartyId">
                                        <input  type="button" style="margin-left: 1em; margin-top: 1em;" class="btn btn-info saveVideoButton" value="保存"></input>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<link href="/plug/bootstrapTable/bootstrap-table.min.css" rel="stylesheet"/>
<link href="/plug/select2/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/danmu/danmu.danmucheck.css"/>
<script src="/plug/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/plug/select2/js/select2.js"></script>

<script src="/js/common/danmu.table.plug.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/js/bussiness/common/danmu.common.plug.js"></script>
<script src="/js/bussiness/addanmu/adDanmu.js"></script>



<% include ../common/bottom.html %>