<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-table action-table">
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal">
                                        <fieldset>

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" for="addressName">场地名称</label>
                                                <div class="controls">
                                                    <input type="text" class="span4" id="addressName" maxlength="10" >
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" >地址</label>
                                                <div class="controls">
                                                    省<select id="selectedP" onchange="selecteProvince()"></select> 市<select id="selectedC" onchange="selecteCity()"></select>区<select id="selectedA"></select>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="addressStr">详细地址</label>
                                                <div class="controls">
                                                    <input type="text" class="span6" id="addressStr" >
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="addressStr">场地形状</label>
                                                <div class="controls">
                                                    <select id="shape">
                                                        <option value="0">横着的长方形</option>
                                                        <option value="1">竖着的长方形</option>
                                                        <option value="2">正方形</option>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="latitude">纬度</label>
                                                <div class="controls">
                                                    <input type="text" class="span2" maxlength="10" id="latitude">
                                                    <span style="margin-left: 10px;margin-right: 10px;">经度</span>
                                                    <input type="text" class="span2" id="longitude">
                                                </div> <!-- /controls -->

                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="length">场地长度(米)</label>
                                                <div class="controls">
                                                    <input type="text" class="span2" id="length" maxlength="3" >
                                                    <span style="margin-left: 10px;margin-right: 10px;">场地宽度(米)</span>
                                                    <input type="text" class="span2"  id="width" maxlength="3">
                                                    <span style="margin-left: 10px;margin-right: 10px;">场地高度(米)</span>
                                                    <input type="text" class="span2" id="height" maxlength="3">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="range">范围(米)</label>
                                                <div class="controls">
                                                    <input type="text" class="span2" id="range" maxlength="3" >
                                                    <span style="margin-left: 10px;margin-right: 10px;">容纳人数</span>
                                                    <input type="text" class="span2"  id="peopleNum" maxlength="5">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="contacts">联系人</label>
                                                <div class="controls">
                                                    <input type="text" class="span2" id="contacts" maxlength="6" >
                                                    <span style="margin-left: 10px;margin-right: 10px;">联系电话</span>
                                                    <input type="text" class="span2"  id="phoneNum" maxlength="12">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->
                                            <br>

                                            <div class="control-group">
                                                <label class="control-label" for="contacts">场地属性</label>
                                                <div class="controls">
                                                    <select id="addressType">
                                                        <option value="1">临时</option>
                                                        <option value="0">固定</option>
                                                    </select>
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->
                                            <br>

                                            <div class="form-actions">
                                                <a class="btn btn-primary" onclick="saveAddress();">保存</a> <a class="btn" onclick="returnAddressList();">返回列表</a>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<link href="/plug/bootstrapTable/bootstrap-table.min.css" rel="stylesheet"/>
<script src="/plug/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/js/bussiness/address/cityAndProvince.js"></script>
<script src="/js/bussiness/address/addAddress.js"></script>
<% include ../common/bottom.html %>