<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>聚时代后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/images/favicon.ico" >
    <link href="/plug/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plug/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/plug/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/plug/bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/plug/jquery/jquery.min.js"></script>
    <script src="/plug/jquery/jquery.cookie.js" ></script>
    <script src="/plug/bootstrap/js/bootstrap.js"></script>
    <script src="/js/common/danmu.common.config.js"></script>
    <script src="/js/common/danmu.common.handler.js"></script>
    <script src="/js/common/danmu.common.util.js"></script>
    <script src="/js/common/danmu.common.control.util.js"></script>
    <script src="/js/common/danmu.navbar.js"></script>
</head>
<body screen_capture_injected="true">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="/">聚时代后台管理系统 </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown adminNick">

                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<div id="updatePassword" class="hide fade" >
    <div class="updatePassword-dialog modal">
        <div class="mupdatePassword-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="updatePasswordLabel">修改密码</h3>
        </div>
        <div class="modal-body" id="updatePassword-modal-body">

        </div>
        <div class="modal-footer" id="updatePassword-modal-footer">

        </div>
    </div>
</div>
