<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-table action-table">
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal">
                                        <fieldset>

                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" for="name">活动名称</label>
                                                <div class="controls">
                                                    <input type="text" class="span6" id="name" placeholder="弹幕电影" maxlength="15" onblur="findPartyByName()">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="startTime">开始时间</label>
                                                <div class="controls">
                                                    <input type="text" class="span6" id="startTime" placeholder="yyyy-MM-dd HH:mm" onblur="checkStartTime()">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->


                                            <div class="control-group">
                                                <label class="control-label" for="endTime">结束时间</label>
                                                <div class="controls">
                                                    <input type="text" class="span4" id="endTime" placeholder="yyyy-MM-dd HH:mm" onblur="checkEndTime()">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <div class="control-group">
                                                <label class="control-label" for="shortName">活动名称简写</label>
                                                <div class="controls">
                                                    <input type="text" class="span4" id="shortName" placeholder="dmdy" maxlength="10" onblur="findPartyByShortName()">
                                                </div> <!-- /controls -->
                                            </div> <!-- /control-group -->

                                            <br>

                                            <div class="form-actions">
                                                <a class="btn btn-primary" id="saveParty" onclick="saveParty();">保存</a> <a class="btn" onclick="returnPartyList();">返回列表</a>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<script src="/js/common/danmu.ajax.plug.js"></script>
<script src="/js/bussiness/party/addParty.js"></script>
<% include ../common/bottom.html %>