<% include ../common/header.html %>
<% include ../common/navbar.html %>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-table action-table">
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table id="tableList" class="table table-striped"
                                   data-pagination-first-text="第一页"
                                   data-pagination-pre-text="前一页"
                                   data-pagination-next-text="下一页"
                                   data-pagination-last-text="最后一页"></table>
                            </table>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>

<% include ../common/bottom.html %>